.sidebarComponent{
    padding: var(--padding-lg);
    box-sizing: border-box;
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    top: 0;
    bottom:0;
    z-index: 100;
    background-color: var(--dark-secondary);
    color: var(--light-primary);

    h4{
        font-weight: 600;
        line-height: 150%;
        border-bottom: 1px solid var(--dark-fourty);
    }
}

.favouritesContainer{
    display: flex;
    flex-direction: column;
    gap:var(--padding-lg);
    margin-top:var(--margin-md);
}

.emptyFavouritesListContainer{
    display: flex;
    align-items: center;
    gap:var(--margin-sm);
    
    p{
        color:var(--warning);
    }

    img{
        filter: var(--black-to-orange-filter);
    }
}