.filtersComponent{
    padding-block: var(--padding-md);
    display: flex;
    flex-direction: column;
    gap:var(--padding-md);

    .sortFilters{
        display: flex;
        gap:var(--padding-md);
    }
}