.noMatchStocks{
    padding:var(--padding-md);
    border-radius: var(--default-border-radius);
    background-color: var(--bg-color-3);
    width: max-content;
    margin-inline: auto;
    color:var(--bg-color-5);
}