.paginatorButtonComponent{
    aspect-ratio: 1/1;
    width: 50px;
    
    button{
        cursor:pointer;
        background-color: transparent;
        padding:var(--padding-sm);
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: var(--border-radius-sm);
        border: 1px solid var(--bg-color-3);
        color:var(--bg-color-5);
        transition: all 150ms ease-out;

        &.active{
            background-color: var(--bg-color-3);
            font-weight: bold;
        }

        &:hover{
            background-color: var(--bg-color-4);
        }
    }
}