.searchBarComponent{
    position:relative;
    margin-bottom:var(--margin-md);
    
    input{
        width: 100%;
        box-sizing: border-box;
        border:1px solid var(--dark-tertiary);
        background-color: transparent;
        border-radius: var(--default-border-radius);
        padding: var(--padding-sm) var(--padding-sm) var(--padding-sm) 40px;
        font-size: 1.1rem;
        color:var(--light-primary);
        transition: background 250ms ease-out;


        &+img{
            position:absolute;
            filter: var(--black-to-white-filter);
            top:50%;
            transform:translateY(-50%);
            left: 8px;
        }

        &:focus{
            outline:none;
        }
        
        &:not(:placeholder-shown){
            background-color: var(--dark-tertiary);
        }
    }
}