.searchBarComponent{
    position:relative;
    
    input{
        width: 100%;
        box-sizing: border-box;
        border:1px solid var(--border-color);
        background-color: transparent;
        border-radius: var(--default-border-radius);
        padding: var(--padding-sm) var(--padding-sm) var(--padding-sm) 40px;
        font-size: 1.1rem;
        color:var(--bg-color-5);
        transition: background 250ms ease-out;


        &+img{
            position:absolute;
            filter: var(--black-to-white-filter);
            top:50%;
            transform:translateY(-50%);
            left: 8px;
        }

        &:focus{
            outline:none;
        }
        
        &:not(:placeholder-shown){
            background-color: var(--bg-color-3);
        }
    }
}