.stockCardComponent{
    background-color: var(--dark-secondary);
    border-radius: var(--default-border-radius);
    padding:var(--padding-md) var(--padding-md) var(--padding-2md) var(--padding-md);
    color: var(--light-primary);
    border: 1px solid var(--dark-tertiary);


    h2{
        color: var(--light-primary);
        font-weight: 600;
        text-transform: uppercase;
    }
}

.favouriteContainer{
    img{
        filter:var(--black-to-orange-filter);
        transition: transform 250ms ease-out;
        cursor: pointer;

        &:hover{
            transform: scale(1.25) rotate(144deg);
        }
    }
}

.stockCardHeader{
    display: flex;
    line-height: 135%;
    position:relative;  
    justify-content: space-between;
    font-weight: 400;
    &:hover{
        .stockNameContainer::after{
            display: flex;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.stockValueContainer{
    display: flex;
    align-items: center;
    gap:var(--margin-sm);
    margin-bottom: var(--margin-lg);
}

.stockValue{
    font-weight: 600;
}

.stockNameContainer{
    max-width: 65%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.stockNameContainer::after{
    content: var(--tooltip-content);
    opacity: 0;
    transform: translateY(-20px);
    transition: all 250ms ease;
    transition-behavior: allow-discrete;
    position:absolute;
    margin: 0;
    bottom: 200%;
    left: 20px;
    border-radius: var(--border-radius-md);
    z-index: 10;
    padding:var(--padding-sm);
    pointer-events: none;
    background-color: var(--dark-tertiary);

    @starting-style{
        pointer-events: none;
        transform: translateY(-20px);
        opacity: 0;
    }
}

.aditionalStockInfoContainer{
    display: flex;
    gap: var(--margin-sm);

    span{
        font-weight: 600;
    }
}

.stockName{
    font-weight: 600;
    text-wrap: nowrap;
}   

.stockSymbol{
    color: var(--light-primary-60);
}

.valueHistoryChart{
    margin-top: var(--margin-md);
    width: 90%;
    border-radius: var(--border-radius-md);
    background-color: var(--dark-primary);
    height: 120px;
}