.stockCardComponent{
    background-color: var(--dark-secondary);
    border-radius: var(--default-border-radius);
    padding:var(--margin-md);
    color: var(--light-primary);


    h2{
        color: var(--light-primary);
        font-weight: 600;
        text-transform: uppercase;
    }
}

.stockCardHeader{
    display: flex;
    line-height: 135%;
    justify-content: space-between;
    font-weight: 400;

    span{
        font-weight: 600;
    }

    .stockSymbol{
        color: var(--light-primary-60);
    }
}

.stockValue{
    display: block;
    margin-top:var(--margin-md);
    font-weight: 600;
}