.stockCardComponent{
    display: flex;
    position: relative;
    flex-direction: column;
    gap:var(--margin-sm);
    background-color: var(--dark-secondary);
    border-radius: var(--default-border-radius);
    padding:var(--padding-md) var(--padding-md) var(--padding-2md) var(--padding-md);
    color: var(--light-primary);
    border: 1px solid var(--dark-tertiary);
}

.favouriteContainer{
    position:relative;
    img{
        position:absolute;
        top:-2px;
        right:0;
        filter:var(--black-to-orange-filter);
        transition: transform 250ms ease-out;
        cursor: pointer;

        &:hover{
            transform: scale(1.25) rotate(144deg);
        }
    }
}

.stockCardHeader{
    display: flex;
    line-height: 135%;
    justify-content: space-between;
    font-weight: 400;
}

.stockValueContainer{
    margin-top:var(--margin-sm);
    display: flex;
    align-items: center;
    gap:var(--margin-sm);

    .stockValue{
        font-weight: 600;
    }
}

.stockSymbolContainer{
    display: block;

    .stockSymbol{
        font-weight: 600 !important;
    }
}

.stockNameContainer{
    max-width: 65%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    overflow-y:hidden;
    &:hover{
        .stockName::after{
            display: flex;
            opacity: 1;
            transform: translateY(0);
        }
    }

    .stockName{
        text-wrap: nowrap;
        color:var(--light-primary-60);
        width: 100%;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;

        &::after{
            content: var(--tooltip-content);
            opacity: 0;
            transform: translateY(-20px);
            transition: all 250ms ease;
            transition-behavior: allow-discrete;
            position:absolute;
            margin: 0;
            top:0;
            left:0;
            width: auto;
            line-height: 135%;
            text-wrap: wrap;
            border-radius: var(--border-radius-md);
            z-index: 10;
            padding:var(--padding-sm);
            pointer-events: none;
            background-color: var(--dark-tertiary);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        
            @starting-style{
                pointer-events: none;
                transform: translateY(-20px);
                opacity: 0;
            }
        }
    }   
}

.aditionalStockInfoContainer{
    display: flex;
    gap: var(--margin-sm);
}

.valueHistoryChart{
    margin-top: var(--margin-sm);
    width: 90%;
    border-radius: var(--border-radius-md);
    background-color: var(--dark-primary);
    height: 120px;
}